<div class="reg-wrapper">
  <div class="reg-wrapper__content">
    <div class="reg-wrapper__content__nav">
      <h2 class="reg-wrapper__content__nav-text">登録が完了いたしました</h2>
    </div> 
    <div class="edit-link-box">
      <%= link_to "クレジットカードの登録をする", root_path%>
    </div>
    <div class="edit-link-box">
      <%= link_to "トップへ戻る", root_path%>
    </div>
    <% if user_signed_in? %>
    <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
    <% end %>
    
  </div>
</div>