.regFinishWrapper
  .regFinish__contents
    .regFinish__contents__title
      %h4 登録が完了いたしました
    .regFinish__contents__link
      = link_to "トップ画面へ", root_path, class:"regFinish__contents__link--text"