-# ここからがフッターです。
.fotter
  .fotter__box
    .about__box
      .about__title
        FURIMAについて
      .about__content
        .manegement__company
          会社概要（運営会社）
        .privacy__policy
          プライバシーポリシー
        .terms__service
          FURIMA利用規約
        .point_convenant
          ポイントに関する特約
    .look__box
      .look__title
        FURIMAを見る
      .look__content
        .look__category
        カテゴリー一覧
        .look__brand
        ブランド一覧
      .logo__image
        = image_tag asset_path("/images/logo/logo-white.png"), class: "logo__image"
      .logo__company
        .logo__cmark
          ©︎
        .logo__app--mark
          FURIMA
    .help__box
      .help__title
        ヘルプ＆ガイド
      .help__content
        .app__guide
          FURIMAガイド
        .logo__guid--line
          FURIMAロゴ利用ガイドライン
        .app__notice
          お知らせ
-# ここまで。    