-# # ここからがヘッダーです。
.header
  .header__main
    .header__logo
      = image_tag "/assets/logo/logo.png", class: "header__logo"
    .search__box
      %input.form__search{name: "text; charset=UTF-8", placeholder: "キーワードから探す", type: "content"}/
    .submit__btn
      .searchBox__icon
        = image_tag "/assets/icon/icon-search 1.png", class: "searchBox__icon"
  .header__box
    .header__box--a
      .header__left
        .category__btn
          カテゴリー
        .brand__btn
          ブランド
    .header__box--b
      .header__right
        .login__btn
          ログイン
        .signup__btn
          新規会員登録
-# ここまで。