-# ここからが１つ目のバック画像付きBOXです。
.top__image
  .top__image--box
    .top__title
      人生を変えるフリマアプリ
    .top__message--a
      FURIMAはだれでもかんたんに出品・購入できる
    .top__message--b
      フリマアプリです
  .top__icon--box
    .top__app--icon
    .top__google--icon
  = link_to "/items/new", class: "exhibition__btn" do
    .exhibition__name
      出品する
    .exhibition__icon
      = image_tag asset_path("/images/icon/camera.png"), class: "exhibition__icon"
-# 固定で付け回すカメラアイコン（出品ページへの遷移）。
-# ここまで。

-# ここからが”FURIMAが選ばれる３つの理由”です。
.message__reason
  FURIMAが選ばれる３つの理由
  .after__line
    ー
.reason__box
  .reason__list
    .reason__box--a
      .reason__image--a
        .reason__nember--one
          1
      .resason__title--one
        .reason__title--a
          ３分
        .reason__title--b
          ですぐに出品
      .reason__message--a
        スマホで入力するだけで簡単に出品できる！
    .reason__box--b
      .reason__image--b
        .reason__nember--two
          2
      .resason__title--two
        .reason__title--c
          シンプル
        .reason__title--d
          で使いやすい
      .reason__message--b
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    .reason__box--c
      .reason__image--c
        .reason__nember--three
          3
      .resason__title--three
        .reason__title--e
          手数料
        .reason__title--f
          業界最安
      .reason__message--c
        最大3%でお得に出品&購入！
-# ここまで。

-# ここからが２つ目のバック画像付きBOXです。
.center__image
  .center__image--box
    .center__title
      会員数日本一位
    .center__message--a
      FURIMAは、フリマアプリで最も人気。
    .center__message--b
      出品・購入回数も業界最多です！
    .center__message--c
      ほしかったあの商品に出会えるかもしれません。
  .center__icon--box
    .center__app--icon
    .center__google--icon
-# ここまで。

-# ここからが”FURIMAの特徴”です。
.message__characteristic
  FURIMAの特徴
  .after__line
    ー
.characteristic__box
  .characteristic__list
    .characteristic__box--a
      .characteristic__image--a
      .characteristic__title--a
        簡単に売り買いできる
      .characteristic__message--a
        スマホひとつで、いつでもどこでも簡単
      .characteristic__message--b
        に出品・購入が可能！
    .characteristic__box--b
      .characteristic__image--b
      .characteristic__title--b
        売上金は即日振込みに対応
      .characteristic__message--c
        午前9時までに振込を依頼いただけれ
      .characteristic__message--d
        ば、翌日に指定の口座に入金いたします!
    .characteristic__box--c
      .characteristic__image--c
      .characteristic__title--c
        様々な支払いに対応
      .characteristic__message--e
        お支払いは、クレジットカードだけでな
      .characteristic__message--f
        く、ポイントや売上金など多彩な方法が
      .characteristic__message--g
        あります。
  -# ここまで。

-# ここからが"新規投稿商品”です。
.pickup__category
  ピックアップカテゴリー
.pickup__new--post
  新規投稿商品
  .pickup__category--box
    = link_to "items/item_details", class: "category__base--a" do
      .category__image--a
      .pickup__category--a
        .category__name--a
          ee
        .category__price--a
          1000円
        .category__tax--a
          (税込）
        .category__point--a
          ★０
    -# 以下b〜dは同義です。
    .category__base--b
      .category__image--b
      .pickup__category--b
        .category__name--b
          product3
        .category__price--b
          30000円
        .category__tax--b
          （税込）
        .category__point--b
          ★０
    .category__base--c
      .category__image--c
      .pickup__category--c
        .category__name--c
          product2
        .category__price--c
          20000円
        .category__tax--c
          （税込）
        .category__point--c
          ★０
    .category__base--d
      .category__image--d
      .pickup__category--d
        .category__name--d
          product1
        .category__price--d
          10000円
        .category__tax--d
          （税込）
        .category__point--d
          ★1
-# ここまで。

-# ここからが”ピックアップブランド”です。
.pickup__brand
  ピックアップブランド
.pickup__archive
  アーカイバ
  .pickup__brand--box
    .brand__base--a
      .brand__image--a
      .pickup__brand--a
        .brand__name--a
          ee
        .brand__price--a
          1000円
        .brand__tax--a
          （税込）
        .brand__point--a
          ★０
    .brand__base--b
      .brand__image--b
      .pickup__brand--b
        .brand__name--b
          product3
        .brand__price--b
          30000円
        .brand__tax--b
          （税込）
        .brand__point--b
          ★０
    .brand__base--c
      .brand__image--c
      .pickup__brand--c
        .brand__name--c
          product2
        .brand__price--c
          20000円
        .brand__tax--c
          （税込）
        .brand__point--c
          ★０
    .brand__base--d
      .brand__image--d
      .pickup__brand--d
        .brand__name--d
          product1
        .brand__price--d
          10000円
        .brand__tax--d
          （税込）
        .brand__point--d
          ★１
-# ここまで。

-# ここからが３つ目のバック画像付きBOXです。
.bottom__image
  .bottom__image--box
    .bottom__title
      だれでもかんたん、人生を変えるフリマアプリ
    .bottom__message
      今すぐ無料ダウンロード！
  .bottom__icon--box
    .bottom__app--icon
    .bottom__google--icon
-# ここまで。

