.show{
  margin: 60px auto;
  width: 450px;
  height: 800px;
  .show__frame__username{
    text-align: center;
    font-weight: bold;
    font-size:25px;
    color: rgb(85, 84, 84);
    
  }
  .show__frame__title{
    text-align: center;
    font-weight: bold;
    font-size:25px;
    color: rgb(85, 84, 84);
    border-bottom: 1px solid rgb(218, 218, 218);
  }
  .credit_card_info{
    display: flex;
    margin:20px;
    &__numbers{
      margin: 10px auto;
      color: rgb(85, 84, 84);
      .number{
        width: 200px;
        padding-bottom: 5px;
        margin-bottom: 15px;
        border-bottom: 1px solid rgb(218, 218, 218);
      }
      .expiration_date{
        width: 200px;
        padding-bottom: 5px;
        border-bottom: 1px solid rgb(218, 218, 218);
        &__info{
          margin-left: 65px;
        }
      }
    } 
  }
  .link__function {
    text-align: center;
    &__btn{
      .goMypage {
        display: inline-block;
        color: #fff;
        padding:  24px 50px;
        background: #3CCACE;
        border: 1px solid #3CCACE;
        border-radius: 100px;
      }
    }
  }

}