.image-wrapper
  .image-wrapper__label
    出品画像
    %span.image-wrapper__label__tag 必須
  .image-wrapper__text
    最大5枚までアップロードできます
  .image-wrapper__image
    .post__drop__box__container
      .prev-content
      .label-content
        %label{for: "item_images_attributes_0_image", class: "label-box", id: "label-box--0", type: "file"}
          %pre.label-box__text-visible クリックしてファイルをアップロード
          %i.fas.fa-camera
      .hidden-content
        = f.fields_for :images do |i|
          - for num in 0..4 do
            = i.file_field :image, class: "hidden-field", name: "item[images_attributes][#{num}][image]", id: "item_images_attributes_#{num}_image"