.item-footer
  %ul
    %a(href="/")
      %li プライバシーポリシー
    %a(href="/")
      %li FURIMA利用規約
    %a(href="/")
      %li 特定取引に関する表記
  %img(src="/assets/logo/logo.png" alt="FURIMAのアイコンです。")/
  .copyright
    © FURIMA. Inc.