.single__header
  .single__logo
.single__main
  .single__container
    .sell__destroy
      .sell__item--destyoy-check
        確認
      .sell__item--destyoy-notification
        削除すると二度と復活できません。
      .sell__item--destyoy-Confirmation
        本当に削除しますか？
      .btn__list
        .cancel__btn
          = link_to root_path do
            キャンセル
        .destroy__btn
          = link_to cut_destroy_items_path do
            削除
.single__footer
  .footer__list
    .privacy__policy
      プライバシーポリシー
    .terms__service
      FURIMA利用規約
    .specific__commerce
      特定商取引に関する表記
  .apprication__logo
  .logo__company
    .logo__cmark
      ©️
    .logo__app--mark
      FURIMA