single__header
  .single__logo
.single__main
  .single__container
    .sell__destroy
      .sell__item--destyoy-check
        削除しました。
      -# 以下のコメントアウト（20行目まで）はスプリントレビュー時にキャンセル機能付与の指摘があった場合などに
      -# 実装する準備としておいています。当該レビュー時にご指摘がなければその後に削除いたします。
      -# .sell__item--destyoy-notification
      -#   削除すると二度と復活できません。
      -# .sell__item--destyoy-Confirmation
      -#   本当に削除しますか？
      -# .btn__list
      -#   .cancel__btn
      -#     = link_to root_path do
      -#       キャンセル
      -#   .destroy__btn
      -#     = link_to root_path do
      -#       削除
.single__footer
  .footer__list
    .privacy__policy
      プライバシーポリシー
    .terms__service
      FURIMA利用規約
    .specific__commerce
      特定商取引に関する表記
  .apprication__logo
  .logo__company
    .logo__cmark
      ©️
    .logo__app--mark
      FURIMA