.category__child,
.category__parent,
.category__grandchild{
  display: none;
}

.category__list{
  position: absolute;
  background-color: white;
  font-size: 12px;
}

.category__child--name{
  width: 100%;
  color: black;
  display: inline-block;
  padding: 5px 15px;
  font-size: 12px;
  letter-spacing: 2px;
  &:hover{
    color: #3CCACE;
  }
}

.list-left{
  display: flex;
  .lists-left__items {
    padding-bottom: 10px;
    &:hover{
      .category__parent{
        display: block;
        &--name{
          width: 100%;
          color: black;
          display: inline-block;
          padding: 10px 20px;
          letter-spacing: 2px;
          &:hover {
            color: #3CCACE;
          }
        }
        li {
          &:hover{
            .category__child{
              width: 100%;
              display: block;
              top: 0;
              left: 205px;
              li {
                &:hover{
                  .category__grandchild{
                    width: 300px;
                    display: block;
                    top: 0;
                    left: 205px;
                  }
                }
              }
            }
          }
        }
      }
    }
  } 
}