@mixin header-links {
  height: 100%;
  color: #333;
  display: block;
  text-decoration: none;
  line-height: 32px;
}

.home-wrapper {
  height: 100%;
  width: 100vw;
  min-width: 1400px;
}

.top__image{
  width: 100%;
  height: 560px;
  background-image: image-url("/assets/pict/bg-mainVisual-pict_pc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  align-items: center;
  text-align: center;
  &--box{
    width: 800px;
    height: 100px;
    padding-top: 220px;
    color: #fff;
    text-shadow: 1px 1px 0 #272727;
    .top__title{
      font-size: 60px;
      width: 800px;
      height: 60px;
      margin-left: 5px;   
    }
    .top__message--a{
      font-size: 20px;
      width: 550px;
      height: 50px;
      padding-top: 40px;
    }
    .top__message--b{
      width: 265px;
      font-size: 20px;
      margin-top: -10px;
    }
  }
  .top__icon--box{
    width: 600px;
    height: 100px;
    padding-top: 70px;
    margin-left: -50px;
    display: flex;
    .top__app--icon{
      width: 420px;
      height: 120px;
      background-image: image_url("/assets/icon/apple_sozai.svg");
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 5px;
    }
    .top__google--icon{
      width: 270px;
      height: 60px;
      background-image: image_url("/assets/icon/google_sozai.svg");
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 30px;
      margin-right: 90px;
    }
  }
  .exhibition__btn{
    display: block;
    position: fixed;
    height: 120px;
    width: 120px;
    border-radius: 4px;
    top:  530px;
    right: 40px; 
    color: #fff;
    background-color: #3ccace;
    .exhibition__name{
      padding-top: 15px;
      font-size: 18px;
    }
    .exhibition__icon{
      height: 60px;
      background-image: image_url("/assets/icon_camera.png");
    }
  }
}
.message__reason{
  text-align: center;
  width: 100%;
  height: 30px;
  padding-top: 50px;
  font-size: 25px;
  font-weight: bold;
  .after__line{
    color: #3ccace;
  }
}
.reason__box{
  width: 100%;
  height: 400px;
  margin-bottom: 150px;
  .reason__list{
    height: 100px;
    padding: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
  }
  .reason__box--a{
    width: 350px;
    .reason__image--a{
      height: 350px;
      background-image: image_url("/assets/pict/pict-reason-01.jpg");
      background-size: cover;
      vertical-align: bottom;
      .reason__nember--one{
        width: 60px;
        height: 60px;
        color: #fff;
        font-size: 40px;
        text-align: center;
        background-color: #3ccace;
      }
    }
    .resason__title--one{
      display: flex;
      font-weight: bold;
      font-size: 30px;
      height: 30px;
      text-align: center;
      background-color: #fff;
      justify-content: center;
    .reason__title--a{
      color: #3ccace;
    }
    .reason__title--b{
      color: #272727;
    }
  }
      .reason__message--a{
        padding-top: 30px;
        font-size: 20px;
        height: 50px;
        background-color: #fff;
      }
  }
    .reason__box--b{
      width: 350px;
      margin-left: 80px;
      .reason__image--b{
        height: 350px;
        background-image: image_url("/assets/pict/pict-reason-02.jpg");
        background-size: cover;
        .reason__nember--two{
          width: 60px;
          height: 60px;
          color: #fff;
          font-size: 40px;
          text-align: center;
          background-color: #3ccace;
        }
      }
      .resason__title--two{
        display: flex;
        font-weight: bold;
        font-size: 30px;
        height: 30px;
        text-align: center;
        background-color: #fff;
        justify-content: center;
      .reason__title--c{
        color: #3ccace;
      }
      .reason__title--d{
        color: #272727;
      }
    }
      .reason__message--b{
        padding-top: 30px;
        font-size: 20px;
        height: 50px;
        align-items: center;
      }
    }
    .reason__box--c{
      width: 350px;
      margin-left: 80px;;
      .reason__image--c{
        height: 350px;
        background-image: image_url("/assets/pict/pict-reason-03.jpg");
        background-size: cover;
        .reason__nember--three{
          width: 60px;
          height: 60px;
          color: #fff;
          font-size: 40px;
          text-align: center;
          background-color: #3ccace;
        }
      }
      .resason__title--three{
        display: flex;
        font-weight: bold;
        font-size: 30px;
        height: 30px;
        text-align: center;
        background-color: #fff;
        justify-content: center;
      .reason__title--e{
        color: #3ccace;
      }
      .reason__title--f{
        color: #272727;
      }
    }
      .reason__message--c{
        padding-top: 30px;
        font-size: 20px;
        height: 50px;
        text-align: center;
      }
    }
}
.center__image{
  width: 100%;
  height: 300px;
  background-image: image_url("/assets/pict/bg-topMiddleDl-pict.jpg");
  background-size: cover;
  background-position: bottom right;
  align-items: center;
  padding-top: 200px;
  font-size: 30px;
  &--box{
    width: 450px;
    height: 150px;
    margin-left: 200px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 0 #272727;
    .center__title{
      font-size: 25px;
      width: 500px;
      height: 60px;
    }
    .center__message--a{
      font-size: 20px;
    }
    .center__message--b{
      font-size: 20px;
    }
    .center__message--c{
      font-size: 20px;
    }
  }
  .center__icon--box{
    width: 500px;
    margin-left: 100px;
    display: flex;
    padding-bottom: 100px;
    .center__app--icon{
      width: 490px;
      height: 110px;
      background-image: image_url("/assets/icon/apple_sozai.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }
    .center__google--icon{
      width: 330px;
      height: 55px;
      background-image: image_url("/assets/icon/google_sozai.svg");
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 20px;
    }
  }
}
.message__characteristic{
  text-align: center;
  width: 100%;
  height: 30px;
  padding-top: 50px;
  font-size: 25px;
  font-weight: bold;
  .after__line{
    color: #3ccace;
  }
}
.characteristic__box{
  padding-top: 30px;
  margin: 0 auto;
  max-width: calc(1040px + 20px);
}
  .characteristic__list{
    height: 550px;
    display: flex;
  .characteristic__box--a{
    width: 400px;
    text-align: center;
    flex-direction: column;
    .characteristic__image--a{
      height: 400px;
      width: 250px;
      background-image: image_url("/assets/icon/icon-01.png");
      background-size: cover;
      margin: auto;
    }
    .characteristic__title--a{
      padding-top: 30px;
      font-weight: bold;
      font-size: 20px;
      width: 350px;
    }
    .characteristic__message--a{
      padding-top: 10px;
      font-size: 18px;
      width: 330px;
    }
    .characteristic__message--b{
      font-size: 18px;
      width: 190px;
    }
  }
  .characteristic__box--b{
    width: 400px;
    text-align: center;
    flex-direction: column;
    margin-left: 25px;
    .characteristic__image--b{
      height: 400px;
      width: 250px;
      background-image: image_url("/assets/icon/icon-03.png");
      background-size: cover;
      margin: auto;
    }
      .characteristic__title--b{
        padding-top: 30px;
        font-weight: bold;
        font-size: 20px;
        width: 350px;
      }
      .characteristic__message--c{
        padding-top: 10px;
        font-size: 18px;
        width: 300px;  
      }
      .characteristic__message--d{
        font-size: 18px;
        width: 330px;  
      }
  }
    .characteristic__box--c{
      width: 350px;
      text-align: center;
      flex-direction: column;
      margin-left: 25px;
      .characteristic__image--c{
        height: 400px;
        width: 250px;
        background-image: image_url("/assets/icon/icon-04.png");
        background-size: cover;
        margin: auto;
      }
      .characteristic__title--c{
        padding-top: 30px;
        font-weight: bold;
        font-size: 20px;
        width: 350px; 
      }
      .characteristic__message--e{
        padding-top: 10px;
        font-size: 18px;
        width: 330px;
      }
      .characteristic__message--f{
        font-size: 18px;
        width: 330px;
      }
      .characteristic__message--g{
        font-size: 18px;
        width: 100px;
      }
    }
  }
.pickup__category{
  margin-top: 80px;
  height: 50px;
  width: 100%;
  background-color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.pickup__new--post{
  height: 50px;
  width: 100%;
  background-color: #fff;
  color: #3ccace;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  .pickup__category--box{
    font-size: 15px;
    color: #272727;
    height: 400px;
    display: flex;
    justify-content: center;
    .category__base--a{
      padding-top: 20px;
      height: 400px;
      .category__image--a{
        margin: auto;
        height: 250px;
        width: 250px;
        background-image: image_url("/assets/material/sozai1.jpeg");
        background-size: cover;
      }
      .pickup__category--a{
      height: 120px;
      width: 250px;
      background-color: #fff;  
      .category__name--a{
        height: 30px;
        width: 100px;
      }
      .category__price--a{
        height: 30px;
        width: 100px;
      }
      .category__tax--a{
        height: 30px;
        width: 100px;
        font-size: 10px;
      }
      .category__point--a{
        margin-top: -60px;
        float: right;
      }
      }
    }
  }
    .category__base--b{
      padding-top: 20px;
      height: 400px;
      .category__image--b{
        margin: auto;
        height: 250px;
        width: 250px;
        background-image: image_url("/assets/material/sozai2.png");
        background-size: cover;
      }
      .pickup__category--b{
        margin: auto;
        height: 120px;
        width: 250px;
        background-color: #fff;
        .category__name--b{
          height: 30px;
          width: 100px;
        }
        .category__price--b{
          height: 30px;
          width: 100px;
        }
        .category__tax--b{
          height: 30px;
          width: 100px;
          font-size: 10px;
        }
        .category__point--b{
          margin-top: -60px;
          float: right;
        }
      }
    }

    .category__base--c{
      padding-top: 20px;
      height: 400px;
      .category__image--c{
        margin: auto;
        height: 250px;
        width: 250px;
        background-image: image_url("/assets/material/sozai3.png");
        background-size: cover;
      }
      .pickup__category--c{
        margin: auto;
        height: 120px;
        width: 250px;
        background-color: #fff;
        .category__name--c{
         height: 30px;
         width: 100px;
        }
        .category__price--c{
          height: 30px;
          width: 100px;
        }
        .category__tax--c{
          height: 30px;
          width: 100px;
          font-size: 10px;
        }
        .category__point--c{
          margin-top: -60px;
          float: right;
        }
      }
    }
    .category__base--d{
      padding-top: 20px;
      height: 400px;
      .category__image--d{
        margin: auto;
        height: 250px;
        width: 250px;
        background-image: image_url("/assets/material/sozai4.png");
        background-size: cover;
      }
      .pickup__category--d{
        margin: auto;
        height: 120px;
        width: 250px;
        background-color: #fff;
        .category__name--d{
          height: 30px;
          width: 100px;
        }
        .category__price--d{
          height: 30px;
          width: 100px;
        }
        .category__tax--d{
          height: 30px;
          width: 100px;
          font-size: 10px;
        }
        .category__point--d{
          margin-top: -60px;
          float: right;
        }
      }
    }
  }
.pickup__brand{
  margin-top: 350px;
  height: 50px;
  width: 100%;
  background-color: #fff;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.pickup__archive{
  height: 50px;
  width: 100%;
  background-color: #fff;
  color: #3ccace;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  .pickup__brand--box{
    font-size: 15px;
    height: 400px;
    display: flex;
    justify-content: center;
    color: #272727;
    .brand__base--a{
      padding-top: 20px;
      height: 400px;
      .brand__image--a{
        margin: auto;
        height: 250px;
        width: 250px;
        background-image: image_url("/assets/material/sozai5.png");
        background-size: cover;
      }
      .pickup__brand--a{
        margin: auto;
        height: 120px;
        width: 250px;
        background-color: #fff;
        .brand__name--a{
          height: 30px;
          width: 100px;
        }
        .brand__price--a{
          height: 30px;
          width: 100px;
        }
        .brand__tax--a{
          height: 30px;
          width: 100px;
          font-size: 10px;
        }
        .brand__point--a{
          margin-top: -60px;
          float: right;
        }
      }
    }
    .brand__base--b{
      padding-top: 20px;
      height: 400px;
      .brand__image--b{
        margin: auto;
        height: 250px;
        width: 250px;
        background-image: image_url("/assets/material/sozai6.png");
        background-size: cover;
      }
      .pickup__brand--b{
        margin: auto;
        height: 120px;
        width: 250px;
        background-color: #fff;
        .brand__name--b{
          height: 30px;
          width: 100px;
        }
        .brand__price--b{
          height: 30px;
          width: 100px;
        }
        .brand__tax--b{
          height: 30px;
          width: 100px;
          font-size: 10px;
        }
        .brand__point--b{
          margin-top: -60px;
          float: right;
        }
      }
    }
    .brand__base--c{
      padding-top: 20px;
      height: 400px;
      .brand__image--c{
        margin: auto;
        height: 250px;
        width: 250px;
        background-image: image_url("/assets/material/sozai7.png");
        background-size: cover;
      }
      .pickup__brand--c{
        margin: auto;
        height: 120px;
        width: 250px;
        background-color: #fff;
        .brand__name--c{
          height: 30px;
          width: 100px;
        }
        .brand__price--c{
          height: 30px;
          width: 100px;
        }
        .brand__tax--c{
          height: 30px;
          width: 100px;
          font-size: 10px;
        }
        .brand__point--c{
          margin-top: -60px;
          float: right;
        }
      }
    }
    .brand__base--d{
      padding-top: 20px;
      height: 400px;
      .brand__image--d{
        margin: auto;
        height: 250px;
        width: 250px;
        background-image: image_url("/assets/material/sozai8.jpeg");
        background-size: cover;
      }
      .pickup__brand--d{
        margin: auto;
        height: 120px;
        width: 250px;
        background-color: #fff;
        .brand__name--d{
          height: 30px;
          width: 100px;
        }
        .brand__price--d{
          height: 30px;
          width: 100px;
        }
        .brand__tax--d{
          height: 30px;
          width: 100px;
          font-size: 10px;
        }
        .brand__point--d{
          margin-top: -60px;
          float: right;
        }
      }
    }
  }
}
.bottom__image{
  width: 100%;
  height: 300px;
  background-image: imageurl("/assets/pict/bg-appBanner-pict.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  padding-top: 100px;
  font-size: 30px;
  margin-top: 450px;

  &--box{
    width: 800px;
    height: 100px;
    color: #fff;
    text-shadow: 1px 1px 0#272727;
    margin: auto;
    .bottom__title{
      font-size: 30px;
      width: 650px;
      height: 60px;
      margin-left: 40px;
    }
    .bottom__message{
      font-size: 40px;
      width: 700px;
      height: 50px;
    }
  }
  .bottom__icon--box{
    width: 800px;
    height: 150px;
    display: flex;
    margin: auto;
    padding-top: 40px;
    .bottom__app--icon{
      width: 310px;
      height: 115px;
      background-image: image_url("/assets/icon/apple_sozai.svg");
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: 40px;
    }
    .bottom__google--icon{
      width: 200px;
      height: 60px;
      background-image: image_url("/assets/icon/google_sozai.svg");
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 20px;
    }
  }
}
