.head__navi{
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  .head__navi--bar{
    width: 100%;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    position: relative;
    padding: 0 60px;
  }
}
.exhibition__btn{
  display: block;
  position: fixed;
  text-align: center;
  border-radius: 4%;
  height: 120px;
  width: 120px;
  border-radius: 4px;
  top:  150px;
  right: 40px; 
  color: #fff;
  background-color: #3ccace;
  .exhibition__name{
    padding-top: 15px;
    font-size: 18px;
  }
  .exhibition__icon{
    height: 60px;
    background-image: image_url("/images/icon/icon_camera.png");
  }
}
  .detail__box{
    height: 1800px;
    width: 900px;
    margin: auto;
    background-color: #fff;
    .item__title{
      height: 70px;
      width: 700px;
      margin: auto;
      margin-top: 20px;
      .item__name{
        width: 300px;
        margin: auto;
        text-align: center;
        padding: 10px;
        font-size: 30px;
        color: #272727;
      }
    }
    .item__image{
      height: 550px;
      width: 700px;
      margin: auto;
      display: flex;
      .item__image--box{
        margin-left: 20px;
        margin: auto; 
        .main__image--box{
          height: 450px;
          width: 620px;
          margin-top: 20px;
          img{height: 450px;}
        }
        .another__image--box{
          height: 100px;
          width: 700px;
          margin-bottom: 60px;
          padding-bottom: 20px;
          margin-top: 20px;
          display: flex;
          .another__image{
            height: 100%;
            width: 220px;
            margin-right: 20px;
            justify-content: center;
          }
        }
      }
    }
      .price__box{
        width: 700px;
        margin: auto;
        margin-top:120px;
        flex-direction: column;
        .base__price{
          width: 400px;
          margin: auto;
          padding-top: 40px;
          font-size: 45px;
          align-items: center;
          justify-content: center;
          color: #272727;
          display: flex;
        }
        .price__unit{
          height: 50px;
          margin: auto;
          display: flex;
          font-size: 18px;
          justify-content: center;
          .price__tax{
            height: 30px;
            width: 55px;
          }
          .postage__included{
            height: 60px;
            width: 80px;
          }
        }
      }

  .item__detail--comment{
    height: 150px;
    width: 700px;
    margin: auto;
    font-size: 18px;
  }
  .detail__table{
    width: 700px;
    height: 375px;
    margin-top: 400px;
    border-collapse: collapse;
    border: solid 1px #fff;
    margin: auto;
  }
  .table__list{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    .table__category{
      width: 20%;
      background-color: #eee;
      font-weight: 400;
      padding: 8px;
      border: 1px solid #dedede;
      font-size: 14px;
      text-align: center;
    }
    .table__content{
      width: 61%;
      padding: 15px 15px;
      border: 1px solid #dedede;
      font-size: 14px;
    }
  }
  .stamp__box{
    height: 50px;
    width: 700px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .good__stamp{
      height: 30px;
      width: 150px;
      text-align: center;
      padding: 6px 10px;
      border-radius: 40px;
      border: solid 1px orange;
    }
    .inappropriate__report{
      height: 30px;
      width: 200px;
      padding: 6px 10px;
      text-align: center;
      border: solid 1px #dedede;
    }
    .relief__safety--efforts{
      height: 30px;
      width: 300px;
      background-color: lightgreen;
    }
  }
  .item__action--box{
    height: 180px;
    width: 700px;
    margin: auto;
    margin-top: 20px;
    border: solid #eee 1px;
    background-color: #fff;
    .item__edit--box{
      height: 50px;
      width: 500px;
      margin: auto;
      margin-top: 20px;
      border-radius: 4%;
      background-color: red;
      .item__edit--btn{
        height: 40px;
        width: 200px;
        margin: auto;
        margin-top: 5px;
        border: none;
        outline: none;
        background: transparent;
        text-decoration: none;
        font-size: 15px;
        color: #fff;
        background-color: red;
      }
    }
    .item__action--select{
      height: 30px;
      margin: auto;
      text-align: center;
    }
    .item__destroy--box{
      height: 50px;
      width: 500px;
      margin: auto;
      border-radius: 4%;
      background-color: #f8f8f8;
      .item__destroy--btn{
        height: 40px;
        width: 200px;
        margin: auto;
        margin-top: 5px;
        border: none;
        outline: none;
        background: transparent;
        text-decoration: none;
        font-size: 15px;
        color: #272727;
        background-color: #f8f8f8;
      }
    }
  }
  
  .comment__box{
    height: 320px;
    width: 700px;
    margin: auto;
    background-color: #fff;
    .comment__form{
      width: 680px;
      height: 120px;
      margin: auto;
      margin-top: 20px;
    }
    .note__box{
      height:60px;
      width: 680px;
      margin: auto;
      margin-top: 30px;
      background-color: #f8f8f8;
    }
    .comment__btn{
      line-height: 48px;
      background: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      width: 60%;
      font-size: 18px;
      border-radius: 100px;
      margin: auto;
      margin-top: 10px;
      text-align: center;
    } 
  }
  .page__btn{
    width: 700px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .forward__btn{
      color: #3CCACE;
   }
    .back__btn{
      color: #3CCACE;
    } 
  }
  .another__page{
    width: 300px;
    font-weight: bold;
    font-size: 25px;
    color: #3CCACE;
    float: left;
    margin-left: 100px;
  }
}
.bottom__image{
  width: 100%;
  height: 300px;
  background-image: image_url("/images/pict/bg-appBanner-pict.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  font-size: 30px;

  .bottom__image--box{
    width: 800px;
    height: 100px;
    color: #fff;
    text-shadow: 1px 1px 0#272727;
    margin: auto;

    .bottom__title{
      font-size: 30px;
      width: 650px;
      height: 60px;
      margin-left: 40px;
     
    }
    .bottom__message{
      font-size: 40px;
      width: 700px;
      height: 50px;
    }
  }
  .bottom__icon--box{
    width: 800px;
    height: 150px;
    display: flex;
    margin: auto;
    padding-top: 40px;

    .bottom__app--icon{
      width: 310px;
      height: 115px;
      background-image: image_url("/images/icon/apple_sozai.svg");
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: 40px;
    }

    .bottom__google--icon{
      width: 200px;
      height: 60px;
      background-image: image_url("/images/icon/google_sozai.svg");
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 20px;
    }
  }
}