.items-main {
  height: 100%;
  width: 700px;
  margin: 0 auto;

  .image-wrapper {
    padding-bottom: 40px;
    &__label {
      width: 620px;
      font-weight: bold;
      font-size: 14px;
      padding-top: 40px;
      margin: 0 auto 20px;
      &__tag {
        @include required;
      }
    }
    &__text {
      width: 620px;
      margin: 0 auto 20px;
      font-size: 14px;
      color: #333;
    }
    &__image {
      padding-left: 40px;
      .post__drop__box__container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        .prev-content {
          display: flex;
          .preview-box {
            height: 162px;
            width: 112px;
            margin: 0 15px 10px 0;
            .upper-box {
              height: 112px;
              width: 100%;
              img {
                height: 112px;
                width: 112px;
              }
            }
            .lower-box {
              display: flex;
              text-align: center;
              .update-box {
                color: #00b0ff;
                height: 50px;
                width: 50%;
                height: 50px;
                line-height: 50px;
                border: 1px solid #eee;
                background-color: #f5f5f5;
                cursor: pointer;
              }
              .delete-box {
                color: #00b0ff;
                height: 50px;
                width: 50%;
                line-height: 50px;
                border: 1px solid #eee;
                background-color: #f5f5f5;
                cursor: pointer;
              }
            }
          }
        }
        .label-content {
          margin-bottom: 10px;
          width: 620px;
          .label-box {
            display: block;
            border: 1px dashed #ccc;
            position: relative;
            background-color: #f5f5f5;
            height: 162px;
            width: 100%;
            cursor: pointer;
            &__text-visible {
              position: absolute;
              top: 55%;
              left: 16px;
              right: 16px;
              text-align: center;
              color: #333;
              font-size: 14px;
              font-weight: lighter;
              line-height: 1.5;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
              pointer-events: none;
              white-space: pre-wrap;
              word-wrap: break-word;
            }
            i {
              height: 20px;
              width: 20px;
              display: block;
              margin: 0 auto;
              margin-top: 50px;
              font-size: 20px;
            }
          }
        }
        .hidden-content {
          .hidden-field {
            display: none;
          }
          .hidden-checkbox {
            display: none;
          }
        }
      }
    }
  }

  .item-wrapper {
    background-color: #fff;
    width: 620px;
    padding: 40px;
    border-top: 1px solid #efefef;
    margin: 0 auto;
    .item-name {
      &__upper {
        @include section-title;
        &__tag {
          @include required;
        }
      }
      &__lower {
        &__textarea {
          @include text-area;
          margin-top: 16px;
        }
      }
    }
    .item-explanation {
      margin-top: 32px;
      &__upper {
        @include section-title;
        &__tag {
          @include required;
        }
      }
      &__lower {
        &__textarea {
          height: 126px;
          width: 586px;
          width: 100%;
          padding: 13px 16px;
          margin-top: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }
    }
  }

  .details-wrapper {
    background-color: #fff;
    width: 620px;
    padding: 40px;
    border-top: 1px solid #efefef;
    margin: 0 auto;
    .details-upper {
      font-size: 14px;
      color: #888;
      font-weight: 600;
      margin-bottom: 24px;
    }
    .details-lower{
      .category {
        @include section-title;
        .required {
          @include required;
        }
      }
      .category-tab {
        margin-top: 16px;
        select {
          @include pulldown-area;
        }
        #grandchildren_wrapper {
          margin-top: 10px;
        }
      }
      .brand {
        margin-top: 32px;
        @include section-title;
        .any {
          @include any;
        }
      }
      .brand-text {
        margin-top: 16px;
        &__area {
          @include text-area;
        }
      }
      .condition {
        margin-top: 32px;
        @include section-title;
        .required {
          @include required;
        }
      }
      .condition-tab {
        margin-top: 16px;
        &__select {
          @include pulldown-area;
        }
      }
    }
  }

  .delivery-wrapper {
    background-color: #fff;
    width: 620px;
    padding: 40px;
    border-top: 1px solid #efefef;
    margin: 0 auto;
    .delivery-upper {
      font-size: 14px;
      color: #888;
      font-weight: 600;
      margin-bottom: 24px;
      &__question {
        &__link {
          color: #0095ee;
          i {
            text-align: center;
            line-height: 21px;
          }
        }
      }
    }
    .delivery-lower {
      .burden {
        margin-top: 32px;
        @include section-title;
        .required {
          @include required;
        }
      }
      .burden-tab {
        margin-top: 16px;
        &__select {
          @include pulldown-area;
        }
      }
      .shipping-region {
        margin-top: 32px;
        @include section-title;
        .required {
          @include required;
        }
      }
      .shipping-region-tab {
        margin-top: 16px;
        &__select {
          @include pulldown-area;
        }
      }
      .shipping-days {
        margin-top: 32px;
        @include section-title;
        .required {
          @include required;
        }
      }
      .shipping-days-tab {
        margin-top: 16px;
        &__select {
          @include pulldown-area;
        }
      }
    }
  }

  .price-wrapper {
    background-color: #fff;
    width: 620px;
    padding: 40px;
    border-top: 1px solid #efefef;
    margin: 0 auto;
    .price-upper {
      font-size: 14px;
      color: #888;
      font-weight: 600;
      margin-bottom: 24px;
      &__question {
        &__link {
          color: #0095ee;
          i {
            text-align: center;
            line-height: 21px;
          }
        }
      }
    }
    .price-lower {
      .price-box {
        height: 46px;
        padding-bottom: 12px;
        @include item-flexbox;
        &__name {
          @include section-title;
          line-height: 46px;
          .required {
            @include required;
          }
        }
        &__price {
          display: flex;
          .yen-mark {
            margin-right: 8px;
            @include fee-content;
          }
          .input {
            .number-field {
              @include item-number-field;
            }
          }
        }
      }
      .fee-box {
        @include item-number-display;
        @include item-flexbox;
        &__fee {
          @include fee-content;
        }
        &__fee-display {
          @include fee-content;
        }
      }
      .profit-box {
        border-top: 1px solid #efefef;
        @include item-number-display;
        @include item-flexbox;
        &__fee {
          @include fee-content;
        }
        &__fee-display {
          @include fee-content;
        }
      }
    }
  }

  .buttons-wrapper {
    background-color: #fff;
    width: 620px;
    padding: 0 40px 40px;
    margin: 0 auto;
    .buttons {
      height: 120px;
      width: 360px;
      margin: 0 auto;
      .sell-button {
        height: 46px;
        width: 100%;
        &__link {
          background-color: #ea352d;
          color: #fff;
          @include item-buttons-link;
          border: none;
          cursor: pointer;
        }
      }
      .save-button {
        height: 46px;
        width: 100%;
        margin-top: 24px;
        &__link {
          background-color: #ccc;
          color: #222;
          @include item-buttons-link;
        }
      }
      .back-button {
        height: 24px;
        width: 100%;
        margin-top: 24px;
        &__link {
          height: 100%;
          width: 30%;
          margin: 0 auto;
          display: block;
          line-height: 24px;
          text-align: center;
          font-size: 14px;
          color: #0095EE;
        }
      }
    }
    .caution {
      font-size: 12px;
      color: 12px;
    }
  }
}